nav {
    color: white;
    background-color: black;
}

a {
    text-decoration: none;
}

a:visited.whiteVis {
    color:white;
}

.nadpis {
    text-align:center;
    text-decoration-line: underline;
}