{% extends "base.html" %}
{% block basehead %}

{% endblock %}
{% block basebody %}
    <h1 class="nadpis">Hlavná stránka</h1>
    <div>
        <div class="container">
            <div class="col-sm phoneText">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas augue magna, egestas at tincidunt vel, maximus id felis. Curabitur eros nunc, vestibulum sit amet quam nec, ultricies scelerisque ex. Mauris semper egestas placerat. Donec cursus lacinia leo, nec bibendum mi porta in. Pellentesque rutrum quam nibh, id consectetur velit commodo id. In lobortis nibh a imperdiet tempus. Quisque accumsan orci massa, ac euismod ligula placerat nec. Vestibulum non magna quis purus mollis luctus. Curabitur magna turpis, suscipit a ornare ac, commodo eu tortor. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam at posuere mauris. Vestibulum sed quam in ligula dapibus auctor. Vivamus viverra enim erat, a rutrum enim vehicula eu. Donec pharetra blandit tortor in scelerisque. Sed arcu orci, varius ut facilisis vitae, egestas id lorem. Proin pellentesque libero ultricies aliquam porta.</div>
            <br>
            <div class="col-sm">
                <img alt="nahlad" class="nahlad" src="https://scontent.fbts10-1.fna.fbcdn.net/v/t39.30808-6/301227736_482213107246442_1658262262184750281_n.jpg?_nc_cat=108&ccb=1-7&_nc_sid=5f2048&_nc_ohc=Szx8RB6IcMQAX-nl7EY&_nc_ht=scontent.fbts10-1.fna&oh=00_AfBBNZLEj24-aRPTGflaWLk8CcSdWEBrXomqxbbCP8r0RA&oe=653BE70D">
            </div>
        </div>
    </div>
{% endblock %}