{% extends "base.html" %}
{% block basehead %}

{% endblock %}

{% block basebody %}
  <div class="myCenter">
    <form>
      <label class="formContentPhone myMaxSize">E-mail</label><br>
      <input class="formContentPhone myMaxSize" type="email" id="email" name="email"><br><br>
      <label class="formContentPhone myMaxSize">Heslo</label><br>
      <input class="formContentPhone myMaxSize" type="password" id="password" name="password"><br><br>
      <button class="formContentPhone myMaxSize">Prihlásiť sa</button><br><br>
    </form>
    <div class="formContentPhone myMaxSize">
      Ešte nemáte účet? <a href="/register">Registrujte sa!</a>
    </div>
  </div>
{% endblock %}