{% extends "base.html" %}
{% block basehead %}

{% endblock %}

{% block basebody %}
<h1>{% if isAdmin %}<span style="color: red;">[ADMIN]</span> {% endif %}{{username}}</h1><br>
{% if not hasGif %}
<img src="{{ url_for('static', filename='pfp/' ~ username ~ '.png') }}" alt="pfp" width="200" height="200"><br><br>
{% else %}
<img src="{{ url_for('static', filename='pfp/' ~ username ~ '.gif') }}" alt="pfp" width="200" height="200"><br><br>
{% endif %}
<label class="formContentPhone">Vytvorené:</label><br>
<label class="formContentPhone">{{crDate}}</label><br><br>
<label class="formContentPhone">Popis:</label><br>
<label class="formContentPhone">{% if bio is not none %}{{bio}}{% endif %}</label><br><br>
{% if current_user.username == username %}
<button onclick="editBtn('{{current_user.username}}');">[Upraviť]</button>
{% endif %}
{% endblock %}