{% extends "base.html" %}
{% block basehead %}

{% endblock %}

{% block basebody %}
    <div>
        <form>
            <label>Meno</label><br>
            <input type="text" id="meno" name="meno"><br>
            <label>E-mail</label><br>
            <input type="email" id="email" name="email"><br>
            <label>Heslo</label><br>
            <input type="password" id="password" name="password"><br>
            <label>Overenie hesla</label><br>
            <input type="password" id="password2" name="password2"><br>
            <button>Registrovať sa</button><br>
        </form>
    </div>
{% endblock %}