{% extends "base.html" %}
{% block basehead %}

{% endblock %}

{% block basebody %}
    <div class="myCenter">
        <form>
            <label class="formContentPhone myMaxSize">Meno</label><br>
            <input type="text" id="meno" name="meno" class="formContentPhone myMaxSize"><br><br>
            <label class="formContentPhone myMaxSize">E-mail</label><br>
            <input type="email" id="email" name="email" class="formContentPhone myMaxSize"><br><br>
            <label class="formContentPhone myMaxSize">Heslo</label><br>
            <input type="password" id="password" name="password" class="formContentPhone myMaxSize"><br><br>
            <label class="formContentPhone myMaxSize">Overenie hesla</label><br>
            <input type="password" id="password2" name="password2" class="formContentPhone myMaxSize"><br><br>
            <button class="formContentPhone myMaxSize">Registrovať sa</button><br>
        </form>
    </div>
{% endblock %}