{% extends "base.html" %}
{% block basehead %}
{% if hasErr %}
<script>
    error_handler({{ errCode }});
</script>
{% endif %}
<script>
    $(document).ready(function(){
        $SCRIPT_ROOT = {{ request.script_root|tojson }};

        function fetchThreads() {
            $.getJSON($SCRIPT_ROOT + "/_get_threads/{{ subName|lower }}", function(data) {
                document.getElementById("threadDiv").textContent = '';
                for(var i = 0; i < data.length; i++) {
                    let tdiv = document.createElement("a");
                    tdiv.setAttribute("href", $SCRIPT_ROOT + "/{{ subName|lower }}/" + data[i].id);
                    tdiv.classList.add("row");
                    tdiv.classList.add("post");
                    tdiv.classList.add("phoneText");
                    let mdiv = document.createElement("div");
                    tdiv.appendChild(mdiv);
                    let tp = document.createElement("div");
                    tp.classList.add("postText");
                    if (data[i].media != "None") {
                        let timg = document.createElement("img");
                        timg.setAttribute("alt", "nahlad");
                        timg.classList.add("postImage");
                        timg.src= $SCRIPT_ROOT + "/static/media/" + data[i].media;
                        mdiv.appendChild(timg);
                    }
                    mdiv.appendChild(tp);
                    let node = document.createTextNode(data[i].message);
                    tp.appendChild(node);
                    tdate = document.createElement("p");
                    tdate.innerText = "[Čas vytvorenia:" + data[i].date + "]";
                    tdiv.appendChild(tdate);
                    document.getElementById("threadDiv").appendChild(tdiv);
                }
            });
        };

        fetchThreads();

        $("button#refreshBtn").click(function() {
            fetchThreads();
        });
    });
</script>
{% endblock %}
{% block basebody %}
    <h1 class="nadpis">{{ subName }}</h1><br>
    <button id="show_thread_form_btn" type="button" class="formContentPhone centered" onclick="show_hide_thread_form();"
    >[Nové vlákno]</button>
    <div class="submitPost phoneText" id="thread_form_div" style="display: none;">
        <form class="submitBorder" id="new_thread_form" method="POST" enctype="multipart/form-data"
              action="/{{ subName|lower }}/create_thread">
            <button type="button" class="formContentPhone" onclick="show_hide_thread_form();">[X]</button><br>
            <label for="message">Správa</label><br>
            <textarea id="message" name="message" rows="5" cols="40" placeholder="Sem píš..." style="resize:none;"></textarea>
            <br>
            <label class="formContentPhone">Media</label><br>
            <input class="formContentPhone" type="file" id="file" name="file" accept=".gif,.jpg,.jpeg,.png"/><br><br>
            <br>
            <button type="button" class="formContentPhone" onclick="create_thread();">Vytvoriť</button>
        </form>
    </div><br>
    <br><br>
    <div id="threadDiv" class="container text-center">

    </div>
    <br><br>
    <button id="refreshBtn" type="button" class="formContentPhone centered">Refresh</button>
    <br>
{% endblock %}